In [19]:
import pandas as pd

df = pd.read_csv('lagou_jobs.csv')

df.head()

,id,job_address,salary,requirements,company,company_info,job_info,highlights
0,330,Python软件开发工程师[郑州·管城回族区],6k-8k,6k-8k经验不限 / 不限,河南端琪实业发展有限公司,新零售 / 不需要融资 / 150-500人,新零售,"“五险一金,包住,绩效奖金”"
1,331,python开发工程师[上海·闵行区],10k-18k,10k-18k经验1-3年 / 本科,帮伯乐,"专业服务｜咨询,营销服务｜咨询 / 不需要融资 / 15-50人",营销服务｜咨询/专业服务｜咨询,“方案”
2,332,python开发工程师[杭州·滨江区],15k-30k,15k-30k经验3-5年 / 本科,浙江巨能环境工程有限公司,能源｜矿产｜环保 / 不需要融资 / 50-150人,能源｜矿产｜环保,"“五险一金,绩效奖金,定期体检”"
3,333,"软件工程师（C++/C, Java/C#, python）[南京·溧水区]",15k-25k,15k-25k经验3-5年 / 本科,上海全晓信息技术有限公司,NaN,NaN,"“12天带薪年假,免费三餐,定期体检”"
4,334,对日JAVA、Python高级工程师[上海·杨浦区],18k-35k,18k-35k经验5-10年 / 本科,上海网擎信息系统有限公司,网络通信 / 不需要融资 / 少于15人,网络通信,"“五险一金,定期体检,员工旅游”"

In [20]:
# 删除决定不可能用到的列
df1 = df.drop('id', axis=1)
df1 = df1.drop('job_info', axis=1)
df1.head()

,job_address,salary,requirements,company,company_info,highlights
0,Python软件开发工程师[郑州·管城回族区],6k-8k,6k-8k经验不限 / 不限,河南端琪实业发展有限公司,新零售 / 不需要融资 / 150-500人,"“五险一金,包住,绩效奖金”"
1,python开发工程师[上海·闵行区],10k-18k,10k-18k经验1-3年 / 本科,帮伯乐,"专业服务｜咨询,营销服务｜咨询 / 不需要融资 / 15-50人",“方案”
2,python开发工程师[杭州·滨江区],15k-30k,15k-30k经验3-5年 / 本科,浙江巨能环境工程有限公司,能源｜矿产｜环保 / 不需要融资 / 50-150人,"“五险一金,绩效奖金,定期体检”"
3,"软件工程师（C++/C, Java/C#, python）[南京·溧水区]",15k-25k,15k-25k经验3-5年 / 本科,上海全晓信息技术有限公司,NaN,"“12天带薪年假,免费三餐,定期体检”"
4,对日JAVA、Python高级工程师[上海·杨浦区],18k-35k,18k-35k经验5-10年 / 本科,上海网擎信息系统有限公司,网络通信 / 不需要融资 / 少于15人,"“五险一金,定期体检,员工旅游”"

In [21]:
# 重复值处理
print(df1.shape)
df2 = df1.drop_duplicates()
print(df2.shape)
df2.head()

(450, 6)
(397, 6)

,job_address,salary,requirements,company,company_info,highlights
0,Python软件开发工程师[郑州·管城回族区],6k-8k,6k-8k经验不限 / 不限,河南端琪实业发展有限公司,新零售 / 不需要融资 / 150-500人,"“五险一金,包住,绩效奖金”"
1,python开发工程师[上海·闵行区],10k-18k,10k-18k经验1-3年 / 本科,帮伯乐,"专业服务｜咨询,营销服务｜咨询 / 不需要融资 / 15-50人",“方案”
2,python开发工程师[杭州·滨江区],15k-30k,15k-30k经验3-5年 / 本科,浙江巨能环境工程有限公司,能源｜矿产｜环保 / 不需要融资 / 50-150人,"“五险一金,绩效奖金,定期体检”"
3,"软件工程师（C++/C, Java/C#, python）[南京·溧水区]",15k-25k,15k-25k经验3-5年 / 本科,上海全晓信息技术有限公司,NaN,"“12天带薪年假,免费三餐,定期体检”"
4,对日JAVA、Python高级工程师[上海·杨浦区],18k-35k,18k-35k经验5-10年 / 本科,上海网擎信息系统有限公司,网络通信 / 不需要融资 / 少于15人,"“五险一金,定期体检,员工旅游”"

In [22]:
# 拆分 job_address 列，并提取 · 前面的市
tmp = df2['job_address'].str.extract(r'(.*)\[(.*)\]')
tmp.columns = ['job', 'address']
tmp['city'] = tmp['address'].str.split('·').str[0]
tmp = tmp[['job', 'city']]
tmp.head()

                             job city
0                  Python软件开发工程师   郑州
1                    python开发工程师   上海
2                    python开发工程师   杭州
3  软件工程师（C++/C, Java/C#, python）   南京
4             对日JAVA、Python高级工程师   上海

In [23]:
# 合并dataframe
df3 = pd.concat([df2, tmp], axis=1)
# 去除job_address
df3 = df3.drop('job_address', axis=1)
df3.head()

,salary,requirements,company,company_info,highlights,job,city
0,6k-8k,6k-8k经验不限 / 不限,河南端琪实业发展有限公司,新零售 / 不需要融资 / 150-500人,"“五险一金,包住,绩效奖金”",Python软件开发工程师,郑州
1,10k-18k,10k-18k经验1-3年 / 本科,帮伯乐,"专业服务｜咨询,营销服务｜咨询 / 不需要融资 / 15-50人",“方案”,python开发工程师,上海
2,15k-30k,15k-30k经验3-5年 / 本科,浙江巨能环境工程有限公司,能源｜矿产｜环保 / 不需要融资 / 50-150人,"“五险一金,绩效奖金,定期体检”",python开发工程师,杭州
3,15k-25k,15k-25k经验3-5年 / 本科,上海全晓信息技术有限公司,NaN,"“12天带薪年假,免费三餐,定期体检”","软件工程师（C++/C, Java/C#, python）",南京
4,18k-35k,18k-35k经验5-10年 / 本科,上海网擎信息系统有限公司,网络通信 / 不需要融资 / 少于15人,"“五险一金,定期体检,员工旅游”",对日JAVA、Python高级工程师,上海

In [24]:
# 拆分salary
df3[['min_salary', 'max_salary']] = df3['salary'].str.split('-', expand=True)

# 去掉 'k' 并转换为数字类型
df3['min_salary'] = df3['min_salary'].str.replace('k', '').astype(float) * 1000
df3['max_salary'] = df3['max_salary'].str.replace('k', '').astype(float) * 1000
df4 = df3.drop('salary', axis=1)
df4.head()

,requirements,company,company_info,highlights,job,city,min_salary,max_salary
0,6k-8k经验不限 / 不限,河南端琪实业发展有限公司,新零售 / 不需要融资 / 150-500人,"“五险一金,包住,绩效奖金”",Python软件开发工程师,郑州,6000.0,8000.0
1,10k-18k经验1-3年 / 本科,帮伯乐,"专业服务｜咨询,营销服务｜咨询 / 不需要融资 / 15-50人",“方案”,python开发工程师,上海,10000.0,18000.0
2,15k-30k经验3-5年 / 本科,浙江巨能环境工程有限公司,能源｜矿产｜环保 / 不需要融资 / 50-150人,"“五险一金,绩效奖金,定期体检”",python开发工程师,杭州,15000.0,30000.0
3,15k-25k经验3-5年 / 本科,上海全晓信息技术有限公司,NaN,"“12天带薪年假,免费三餐,定期体检”","软件工程师（C++/C, Java/C#, python）",南京,15000.0,25000.0
4,18k-35k经验5-10年 / 本科,上海网擎信息系统有限公司,网络通信 / 不需要融资 / 少于15人,"“五险一金,定期体检,员工旅游”",对日JAVA、Python高级工程师,上海,18000.0,35000.0

In [25]:
# 拆分requirements
df4[['experience', 'education']] = df4['requirements'].str.extract(r'(.*)经验(.*) / (.*)', expand=True).iloc[:, [1, 2]].apply(lambda x: x.str.strip())
df5 = df4.drop('requirements', axis=1)
df5.head()

,company,company_info,highlights,job,city,min_salary,max_salary,experience,education
0,河南端琪实业发展有限公司,新零售 / 不需要融资 / 150-500人,"“五险一金,包住,绩效奖金”",Python软件开发工程师,郑州,6000.0,8000.0,不限,不限
1,帮伯乐,"专业服务｜咨询,营销服务｜咨询 / 不需要融资 / 15-50人",“方案”,python开发工程师,上海,10000.0,18000.0,1-3年,本科
2,浙江巨能环境工程有限公司,能源｜矿产｜环保 / 不需要融资 / 50-150人,"“五险一金,绩效奖金,定期体检”",python开发工程师,杭州,15000.0,30000.0,3-5年,本科
3,上海全晓信息技术有限公司,NaN,"“12天带薪年假,免费三餐,定期体检”","软件工程师（C++/C, Java/C#, python）",南京,15000.0,25000.0,3-5年,本科
4,上海网擎信息系统有限公司,网络通信 / 不需要融资 / 少于15人,"“五险一金,定期体检,员工旅游”",对日JAVA、Python高级工程师,上海,18000.0,35000.0,5-10年,本科

In [26]:
# 拆分company_info
df5[['financing', 'size']] = df5['company_info'].str.split('/', expand=True).iloc[:, -2:]

df6 = df5.drop('company_info', axis=1)

# 去掉空格
df6['financing'] = df6['financing'].str.strip()
df6['size'] = df6['size'].str.strip()
df6.head()

,company,highlights,job,city,min_salary,max_salary,experience,education,financing,size
0,河南端琪实业发展有限公司,"“五险一金,包住,绩效奖金”",Python软件开发工程师,郑州,6000.0,8000.0,不限,不限,不需要融资,150-500人
1,帮伯乐,“方案”,python开发工程师,上海,10000.0,18000.0,1-3年,本科,不需要融资,15-50人
2,浙江巨能环境工程有限公司,"“五险一金,绩效奖金,定期体检”",python开发工程师,杭州,15000.0,30000.0,3-5年,本科,不需要融资,50-150人
3,上海全晓信息技术有限公司,"“12天带薪年假,免费三餐,定期体检”","软件工程师（C++/C, Java/C#, python）",南京,15000.0,25000.0,3-5年,本科,NaN,NaN
4,上海网擎信息系统有限公司,"“五险一金,定期体检,员工旅游”",对日JAVA、Python高级工程师,上海,18000.0,35000.0,5-10年,本科,不需要融资,少于15人

In [27]:
# 看看highlights里面有几种可能

tmp = df6['highlights'].str.strip('“”').str.split(',')

# 将所有 highlights 展开为一个列表
all_highlights = tmp.explode()
print(all_highlights)

0       五险一金
0         包住
0       绩效奖金
1         方案
2       五险一金
       ...
448     定期体检
448     员工旅游
449     专业培训
449    公寓式住宿
449     员工餐厅
Name: highlights, Length: 553, dtype: object

In [28]:
# 发现有点多，统计一下数量
highlight_counts = all_highlights.value_counts()
highlight_counts.head(8)

highlights
五险一金                  62
绩效奖金                  35
定期体检                  27
方案                    15
周末双休                  13
发展前景佳、团队实力强、老板nice    13
员工旅游                  10
专业培训                   8
Name: count, dtype: int64

In [29]:
# 展开主要的highlights，这一步同时也处理了highlights的缺失值

# 提取主要的highlights
main_highlights = ['五险一金', '奖金', '体检', '双休', '前景', '团队', '旅游', '培训']
columns = ['insurance', 'bonus', 'examination', 'weekend', 'prospect', 'team', 'travel', 'train']

# 去掉引号
df6['highlights'] = df6['highlights'].str.strip('“”')

# 遍历 main_highlights 和对应的列名
for highlight, col in zip(main_highlights, columns):
    # 检查 highlights 列中是否包含关键词
    df6[col] = df6['highlights'].apply(lambda x: 'Y' if highlight in x else 'N')

df7 = df6.drop('highlights', axis=1)
df7.head()

,company,job,city,min_salary,max_salary,experience,education,financing,size,insurance,bonus,examination,weekend,prospect,team,travel,train
0,河南端琪实业发展有限公司,Python软件开发工程师,郑州,6000.0,8000.0,不限,不限,不需要融资,150-500人,Y,Y,N,N,N,N,N,N
1,帮伯乐,python开发工程师,上海,10000.0,18000.0,1-3年,本科,不需要融资,15-50人,N,N,N,N,N,N,N,N
2,浙江巨能环境工程有限公司,python开发工程师,杭州,15000.0,30000.0,3-5年,本科,不需要融资,50-150人,Y,Y,Y,N,N,N,N,N
3,上海全晓信息技术有限公司,"软件工程师（C++/C, Java/C#, python）",南京,15000.0,25000.0,3-5年,本科,NaN,NaN,N,N,Y,N,N,N,N,N
4,上海网擎信息系统有限公司,对日JAVA、Python高级工程师,上海,18000.0,35000.0,5-10年,本科,不需要融资,少于15人,Y,N,Y,N,N,N,Y,N

In [30]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
Index: 397 entries, 0 to 449
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   company      397 non-null    object
 1   job          397 non-null    object
 2   city         397 non-null    object
 3   min_salary   397 non-null    float64
 4   max_salary   397 non-null    float64
 5   experience   397 non-null    object
 6   education    397 non-null    object
 7   financing    363 non-null    object
 8   size         363 non-null    object
 9   insurance    397 non-null    object
 10  bonus        397 non-null    object
 11  examination  397 non-null    object
 12  weekend      397 non-null    object
 13  prospect     397 non-null    object
 14  team         397 non-null    object
 15  travel       397 non-null    object
 16  train        397 non-null    object
dtypes: float64(2), object(15)
memory usage: 55.8+ KB

In [ ]:
# 发现 financing 和 size 有缺失
# 因为是字符变量，所以先使用哑变量进行填充
df8 = df7.fillna("未知")
df8.info()
df8.head()

<class 'pandas.core.frame.DataFrame'>
Index: 397 entries, 0 to 449
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   company      397 non-null    object
 1   job          397 non-null    object
 2   city         397 non-null    object
 3   min_salary   397 non-null    float64
 4   max_salary   397 non-null    float64
 5   experience   397 non-null    object
 6   education    397 non-null    object
 7   financing    397 non-null    object
 8   size         397 non-null    object
 9   insurance    397 non-null    object
 10  bonus        397 non-null    object
 11  examination  397 non-null    object
 12  weekend      397 non-null    object
 13  prospect     397 non-null    object
 14  team         397 non-null    object
 15  travel       397 non-null    object
 16  train        397 non-null    object
dtypes: float64(2), object(15)
memory usage: 55.8+ KB

,company,job,city,min_salary,max_salary,experience,education,financing,size,insurance,bonus,examination,weekend,prospect,team,travel,train
0,河南端琪实业发展有限公司,Python软件开发工程师,郑州,6000.0,8000.0,不限,不限,不需要融资,150-500人,Y,Y,N,N,N,N,N,N
1,帮伯乐,python开发工程师,上海,10000.0,18000.0,1-3年,本科,不需要融资,15-50人,N,N,N,N,N,N,N,N
2,浙江巨能环境工程有限公司,python开发工程师,杭州,15000.0,30000.0,3-5年,本科,不需要融资,50-150人,Y,Y,Y,N,N,N,N,N
3,上海全晓信息技术有限公司,"软件工程师（C++/C, Java/C#, python）",南京,15000.0,25000.0,3-5年,本科,未知,未知,N,N,Y,N,N,N,N,N
4,上海网擎信息系统有限公司,对日JAVA、Python高级工程师,上海,18000.0,35000.0,5-10年,本科,不需要融资,少于15人,Y,N,Y,N,N,N,Y,N

In [32]:
df8.describe()

         min_salary    max_salary
count    397.000000    397.000000
mean   12335.012594  20037.783375
std     6081.608997  10247.497015
min     1000.000000   2000.000000
25%     8000.000000  13000.000000
50%    11000.000000  18000.000000
75%    15000.000000  25000.000000
max    40000.000000  60000.000000

In [33]:
# min	1000.000000	2000.000000
# 发现有点月薪低的不正常，不符合国家的标准
# 根据人力资源和社会保障部2025年4月3日发布的全国各省、自治区、直辖市最低工资标准情况，目前中国最低的月最低工资标准是青海省的1880元。

# min_salary 或 max_salary 小于 1880 的行进行删除操作
print(df8.shape)
df9 = df8[(df8['min_salary'] >= 1880) & (df8['max_salary'] >= 1880)]
print(df9.shape)
df9.info()
print(df9.describe())
df9.head()

(397, 17)
(394, 17)
<class 'pandas.core.frame.DataFrame'>
Index: 394 entries, 0 to 449
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   company      394 non-null    object
 1   job          394 non-null    object
 2   city         394 non-null    object
 3   min_salary   394 non-null    float64
 4   max_salary   394 non-null    float64
 5   experience   394 non-null    object
 6   education    394 non-null    object
 7   financing    394 non-null    object
 8   size         394 non-null    object
 9   insurance    394 non-null    object
 10  bonus        394 non-null    object
 11  examination  394 non-null    object
 12  weekend      394 non-null    object
 13  prospect     394 non-null    object
 14  team         394 non-null    object
 15  travel       394 non-null    object
 16  train        394 non-null    object
dtypes: float64(2), object(15)
memory usage: 55.4+ KB
         min_salary    max_salary
count    394.000000    394.000000
mean   12421.319797  20175.126904
std     6023.292556  10164.163490
min     2000.000000   3000.000000
25%     8000.000000  13250.000000
50%    11000.000000  18000.000000
75%    15000.000000  25000.000000
max    40000.000000  60000.000000

,company,job,city,min_salary,max_salary,experience,education,financing,size,insurance,bonus,examination,weekend,prospect,team,travel,train
0,河南端琪实业发展有限公司,Python软件开发工程师,郑州,6000.0,8000.0,不限,不限,不需要融资,150-500人,Y,Y,N,N,N,N,N,N
1,帮伯乐,python开发工程师,上海,10000.0,18000.0,1-3年,本科,不需要融资,15-50人,N,N,N,N,N,N,N,N
2,浙江巨能环境工程有限公司,python开发工程师,杭州,15000.0,30000.0,3-5年,本科,不需要融资,50-150人,Y,Y,Y,N,N,N,N,N
3,上海全晓信息技术有限公司,"软件工程师（C++/C, Java/C#, python）",南京,15000.0,25000.0,3-5年,本科,未知,未知,N,N,Y,N,N,N,N,N
4,上海网擎信息系统有限公司,对日JAVA、Python高级工程师,上海,18000.0,35000.0,5-10年,本科,不需要融资,少于15人,Y,N,Y,N,N,N,Y,N

In [34]:
# 保存
df9.to_csv('output3.csv', index=False)